<div class="container">


<h1 class="title">What are you going to do?</h1>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Tell me what you do!">
  <input type="submit">
</form>

<h2><%= @query %></h2>
</div>
